<html>

<head></head>

<body cz-shortcut-listen="true">
  <table width="100%" cellpadding="12" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td>
          <div style="overflow: hidden;">
            <font size="-1">
              <div marginwidth="0" marginheight="0"
                style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;width:100%!important"
                bgcolor="#efefef">
                <div style="font-size:1px;display:none!important">Registro de usuario</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#efefef"
                  style="table-layout:fixed">
                  <tbody>
                    <tr>
                      <td valign="top" align="center" style="min-width:600px;padding-top:5px">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#efefef">
                          <tbody>
                            <tr>
                              <td width="10">&nbsp;</td>
                              <td valign="top" align="center">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"
                                  style="min-width:100%">
                                  <tbody>

                                    <tr>
                                      <td style="height:100px;line-height:100px">&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="red" valign="middle" align="center">
                                        <table style="min-width:100%" cellspacing="0" cellpadding="0" width="100%">
                                          <tbody>
                                            <tr>
                                              <td>
                                                <table style="min-width:100%" width="100%" cellspacing="0"
                                                  cellpadding="0">
                                                  <tbody>
                                                    <tr>
                                                      <td>
                                                        <table cellspacing="0" cellpadding="0" border="0"
                                                          bgcolor="red" align="left">
                                                          <tbody>
                                                            <tr>
                                                              <td width="20">&nbsp;</td>
                                                              <td align="center">
                                                                <table cellspacing="0" cellpadding="0" border="0"
                                                                  align="center">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td style="font-size:1px" height="10">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td style="padding-top:15px" bgcolor="red"
                                                                        align="center">
                                                                        <a href="{{domain}}"
                                                                          style="text-decoration:none" target="_blank">
                                                                          <img
                                                                            src="cid:logo"
                                                                            style="width:178px;display:block;text-decoration:none"
                                                                            alt="YoVendoRD" width="178" border="0">
                                                                        </a>
                                                                      </td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td style="font-size:1px" height="5">&nbsp;</td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                              <td width="20">&nbsp;</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        <table cellspacing="0" cellpadding="0" border="0"
                                                          bgcolor="red" align="right">
                                                          <tbody>
                                                            <tr>
                                                              <td width="20">&nbsp;</td>
                                                              <td valign="middle" align="center">
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                  border="0" align="center">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td style="font-size:1px" height="25">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td valign="middle" align="center">
                                                                        <table cellspacing="0" cellpadding="0"
                                                                          border="0">
                                                                          <tbody>
                                                                            <tr>
                                                                              <td
                                                                                style="padding:10px 30px;border-radius:2px;font-family:'Open Sans',Arial,sans-serif;text-align:center;font-size:14px;color:#ffffff;background-color:#242d34"
                                                                                bgcolor="#242D34"><a
                                                                                  style="color:red;font-size:14px;text-decoration:none;font-weight:600"
                                                                                  href="{{loginUrl}}" target="_blank">
                                                                                  <span
                                                                                    style="color:#ffffff;text-decoration:none;font-size:14px;font-weight:600">Log-in</span>
                                                                                </a>
                                                                              </td>
                                                                            </tr>
                                                                          </tbody>
                                                                        </table>
                                                                      </td>
                                                                    </tr>

                                                                    <tr>
                                                                      <td style="font-size:1px" height="5">&nbsp;</td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                              <td width="20">&nbsp;</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table style="background-color:#ffffff" width="100%" border="0" cellspacing="0"
                                  cellpadding="0" align="center">
                                  <tbody>
                                    <tr>
                                      <td valign="top" align="center">
                                        <table style="background-color:#ffffff;min-width:100%" cellspacing="0"
                                          cellpadding="0" width="100%">
                                          <tbody>
                                            <tr>
                                              <td style="padding:0px">
                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                  <tbody>
                                                    <tr>
                                                      <td align="center"><img
                                                          src="cid:header"
                                                          alt="Logo yo vendo"
                                                          style="display:block;padding:0px;text-align:center;height:auto;width:100%"
                                                          width="100%"></td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top">
                                        <table style="background-color:#ffffff;border:1px solid #ffffff;min-width:100%"
                                          cellspacing="0" cellpadding="0" width="100%">
                                          <tbody>
                                            <tr>
                                              <td style="padding:20px 20px 0px">
                                                <span
                                                  style="font-family:'Open Sans',Arial,sans-serif;font-size:14px;line-height:22px;color:#1e1e1e">
                                                  <span style="font-weight: 900;">Estimado {{name}}</span>,
                                                  <br>
                                                  <br>
                                                  <span>
                                                     Gracias por ser parte de YoVendoRD una comunidad que te permite vender y comprar
                                                     Te has registrado desde google, por lo que hemos generado una contraseña que te permite 
                                                     acender a tu cuenta la caul puedes cambiar desde tu perfil una vez acedas a tu cuenta.
                                                  </span>
                                                  <br>
                                                  <br>
                                                   contraseña:
                                                   <span style="font-size: 19px;font-weight: bold;margin-left: 10px;border: 1px solid #ccc;padding: 10px;background: #ededed;">{{password}}</span>
                                                  <br>
                                                  <br>
                                                </span>
                                                <br>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table style="background-color:#ffffff;border:1px solid #ffffff;min-width:100%"
                                  cellspacing="0" cellpadding="0" width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="padding:0px 20px 20px">
                                        <span
                                          style="font-family:'Open Sans',Arial,sans-serif;font-size:14px;line-height:22px;color:#1e1e1e">
                                          Este es un correo de confirmación para informate que tu cuenta ha sido creada
                                          de manera exitosa.
                                          <br>
                                           No responda a este correo, solo es de salida
                                          <br>
                                          <br>
                                          Saludos,<br> <span style="font-weight: 900;">YoVendoRD</span>
                                        </span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="height:100px;line-height:100px">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td width="10">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </font>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>